honcho @ git+https://github.com/VCTLabs/honcho.git@v2.0.0.2#egg=honcho
importlib-metadata; python_version < '3.8'
importlib_resources; python_version < '3.10'
munch
ruamel.yaml
# only used for demo mode
redis
flask
# dev tasks
pytest
pytest-cov
pylint
mypy
isort
flake8
black
